body{
    background-color: white;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

section p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: darkblue;
}

header{
    background-color: rgb(98, 197, 243);
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

footer{
    position: relative;
    bottom: 0;
    padding: 25px;
    background-color: rgb(98, 197, 243);
}
footer p{
    text-align: center;
}